@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@media (prefers-color-scheme: dark) {
  :root {}
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Amazon Ember', Arial, sans-serif !important;
}

.router-content {
  padding: 30px;
}